div(class="header-div")
    ul(class="header-ul")
        li(style="display: inline-block")
            h1(style="padding-top:3%")
                a(href='/') 
                    strong Green Earth
        li(style="display: inline-block; padding-left:10%;")
            a(href='/About') 
                strong About Me
        li(class="header-li")
            a(href='/Archives') 
                strong Archives   
        li(class="header-li")
            a(href='/Other') 
                strong Other   
        li(class="header-li")
            a(href='/Contact') 
                strong Contact       