.header-ul {
    display: inline;
    padding: 1%;
}

.header-li {
    display: inline-block;
    padding-left:1%;
}

.header-div {
    background-color: #00cc66
}

body {
    background-color: #f1fefe;
    text-align: justify; 
    font-size: 20px;
    font-family: Garamond, serif;
}

a {
    color: #000000;
}

a:hover {
    color: #f1fefe;
    text-decoration: none;
}

.avatar {
    width: 300px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.center{
    padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container {
    width: 40%;
}

.title{
    font-size: 48px;
    font-family: 'Trebuchet MS', sans-serif;
}

.floated-right{
    width: 60%;
    float: right;
    padding: 2%;
}

.floated-left{
    width: 60%;
    float: right;
}